.nav {
  background-color: rgb(200, 142, 255);
  display: flex;
}

.nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav li {
  list-style-type: none;
  margin-left: 30px;
  margin-right: 30px;
}
.nav a {
  text-decoration: none;
}
